@{
    ViewBag.Title = "Список книг";
}

@Styles.Render("~/Content/datatables")

<table id="books" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>NumberOfPages</th>
            <th>Publisher</th>
            <th>Year</th>
        </tr>
    </thead>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: '/api/books',
                dataType: 'json',
                success: function (data) {
                    $('#books').DataTable({
                        data: data,
                        stateSave: true,
                        language: {
                            url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                        },
                        columns: [
                            { data: "Title", title: "Наименование" },
                            { data: "NumberOfPages", title: "Страниц" },
                            { data: "Publisher", title: "Издательство"  },
                            { data: "Year", title: "Год"  },
                        ],
                        //buttons: [
                        //    {
                        //        extend: 'edit',
                        //        editor: myEditor,
                        //        formButtons: [
                        //            {
                        //                label: 'Cancel',
                        //                fn: function () { this.close(); }
                        //            },
                        //            'Save row'
                        //        ]
                        //    }
                        //]
                    });
                },
                error: function (data) {
                    alert('Error! ' + data);
                }
            });
        });
    </script>
}